@media screen and (max-width: 767px){

.wrap {
    margin-top: 61px;
}

.title-wrap > h2 {
    display: block;
    font-size: 20px;
    padding-top: 8px;
    margin-top: 0;
    padding-bottom: 8px;
    border-top: 2px solid #15bd50;
    border-bottom: 2px solid #15bd50;
}

.circle-wrap > li {
    border-radius: 10px;
    margin-left: 40px;
    margin-right: 40px;
}

.circle-wrap > li:not(:first-child) {
    margin-top: 20px;
}

.circle > span {
    height: 80px;
    padding-left: 10px;
    padding-right: 10px;
}

.layout-tbl > .disp-tbl > span:first-child {
    width: 70px;
    padding-left: 5px;
}

.balloon-wrap {
    margin-right: 10px;
    margin-left: 10px;
}

.balloon-img {
    width: 80px;
    height: 80px;
}

.balloon-wrap .balloon-img img {
    max-width: 80px;
    max-height: 80px;
}

.balloon {
    margin-left: 30px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}

.arrow-text {
    height: 98px;
    background-size: 220px 98px;
}

.disp-tbl.arrow-text-wrap {
    width: 320px;
}

.arrow-text-tbl {
    width: 160px;
}

.arrow-text-tbl > div {
    padding-left: 6px;
    padding-top: 6px;
    padding-right: 6px;
    padding-bottom: 6px;
    width: 160px;
    font-size: 12px;
}

/*--‚±‚±‚©‚ç‹â‰®’Ç‹L--*/
.square-text {
    height: 98px;
    background-size: 290px 98px;
}

.square-text-tbl {
    width: 330px;
}

.square-text {
    height: 155px;
    background-size: 330px 155px;
    font-size: 20px;
    line-height: 1.8;
}

.square-text > .square-text-title {
    font-size: 24px;
}

.square-text-tbl > div {
    padding-left: 6px;
    padding-top: 15px;
    padding-right: 6px;
    padding-bottom: 15px;
    width: 100%;
    font-size: 12px;
}
/*--‚±‚±‚Ü‚Å‹â‰®’Ç‹L--*/

.jsc-slider .slick-prev,
.jsc-slider .slick-next {
    width: 41px;
    height: 56px;
    margin-top: -28px;
}

.jsc-slider .slick-prev {
    right: 4px;
}

.jsc-slider .slick-next {
    left: 4px;
}

.jsc-slider .slick-prev:before,
.jsc-slider .slick-next:before {
    width: 41px;
    height: 56px;
}

.link-btn-top {
    right: 14px;
    bottom: 14px;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-size: 24px 20px;
}

.header {
    text-align: center;
    font-size: 10px;
}

.header ul {
    width: 100%;
    display: table;
}

.header ul li {
    display: table-cell;
}

.header ul li:not(:first-child) {
    padding-left: 4px;
}

.header ul li:not(:last-child) {
    padding-right: 4px;
}

.header ul li a {
    width: 100%;
    color: #ffffff;
    display: inline-block;
}

.header .link-kurumi {
    display: none;
}

.header-logo img {
    width: 80px;
    margin-top: 6px;
    margin-bottom: 6px;
}

.link-kurumi-sp {
    width: 166px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
    margin-bottom: 40px;
}

.link-kurumi-sp span {
    position: absolute;
    bottom: 10px;
    width: 100%;
    left: 0;
}

.point-circle > span:first-child {
    font-size: 120%;
    color: #000000;
    background: linear-gradient(transparent 90%, #ff6666 80%);
    padding-left: 0.2em;
    padding-right: 0.2em;
}


}